In [1]:
# Imports
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()
DB_URL = os.getenv('JUP_DB_URL')

# Connecting to Database

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
engine = create_engine(DB_URL)

## Pending Transactions

In [5]:
query = "SELECT * FROM pending_transactions"

In [6]:
pd.read_sql(query, engine)

,tx_hash,token,from_address,to_address,value,gas,gas_price,timestamp
0,0x07a4a213854ebd5d06eed268aefb76dcb0c885c8aeb3...,0xdAC17F958D2ee523a2206206994597C13D831ec7,0x41291503baa24A6b40Fb9aBE301fD03dA63BC3C4,0x644b7b2EE899aE7420797ADe4eEaC631017269a5,1.483961e+07,90000,4001103275,2025-02-21 17:19:09.368068+00:00
1,0x134729c52b20833c46d8a6036385dbd5863d983500b1...,NATIVE,0x89e51fA8CA5D66cd220bAed62ED01e8951aa7c40,0x79e16586E5F12f02A39C744476F821DE3a31E36A,3.625890e+14,500000,14051260820,2025-02-21 17:19:09.482423+00:00
2,0x9cbf3705422496d7fb4761bfff6e68d9927d1bfe29f4...,0x6982508145454Ce325dDbE47a25d4ec3d2311933,0xdd3d72C53Ff982ff59853da71158bf1538b3Ceee,0x440f1F57E3F0Be0c4ABB452824c60F1225D0a3F5,3.699074e+23,70000,3000000000,2025-02-21 17:19:09.660353+00:00
3,0x8e0ec2d4c4955550d1cda032d7f70b6a23580adad273...,NATIVE,0x3bDB03ad7363152DFBc185Ee23eBC93F0CF93fd1,0xecC25630B09f65E095e56cbb1e957CC631FECCd5,4.997500e+18,25200,50000000000,2025-02-21 17:19:10.295212+00:00
4,0xecb8eea5a490105813500bdba6ca9338fa392d3af4f5...,NATIVE,0xBf94F0AC752C739F623C463b5210a7fb2cbb420B,0xF53Ca75741181E4f167eA594a2F670763c1fB149,3.411352e+16,210000,502000000000,2025-02-21 17:19:10.467072+00:00
...,...,...,...,...,...,...,...,...
146,0x4ca288bf586aea0d017d9c5ea03738ec70bab2878901...,NATIVE,0xF4cB67E52970B9C9eF8f7C5871abaC80b0Ec1a66,0x299d81e38858bd54FfC4FcA8932CA93FaB15B8F2,3.210429e+16,21000,881638007,2025-02-22 21:26:03.285662+00:00
147,0x671d2be11e7600f83899c002b0f18e2054ae0a657fc3...,0xdAC17F958D2ee523a2206206994597C13D831ec7,0x2b3FeD49557bd88f78b898684F82FBb355305DbB,0x800961F2ec4DAb878C14d8C2ee7878B5FD855862,1.825064e+08,74386,849828580,2025-02-22 21:26:03.688783+00:00
148,0xb00f2b3c46aaae276f02b1026785f0c69f4eb315908c...,0xdAC17F958D2ee523a2206206994597C13D831ec7,0xc9b4D060C81FE48EE8a04caFDCdCfc8c9db6C449,0x107A4596C5664FdDd918fBD2605e69fEae5FB4c6,7.235609e+06,46097,728637387,2025-02-22 21:26:04.106681+00:00
149,0xe75f5eb78e00e76eb6aed603a72fc7657e0329f501f1...,0xdAC17F958D2ee523a2206206994597C13D831ec7,0x906B9a483Bf453b2cBDf7669dE3D4309153be6DF,0x974CaA59e49682CdA0AD2bbe82983419A2ECC400,4.781818e+10,210000,720186564,2025-02-22 21:26:04.556764+00:00
150,0x0838d1f7761bca76888d905692b61ed0d3eb430677d0...,NATIVE,0x225A273fAa6B679686A3706dCDEC01A7247c3a82,0xB8001C3eC9AA1985f6c747E25c28324E4A361ec1,6.486445e+16,21000,721071317,2025-02-22 21:26:04.644760+00:00

## ERC20 Tokens

In [7]:
query = "SELECT * FROM tokens"

In [8]:
pd.read_sql(query, engine)

,token_address,name,symbol,decimals
0,0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32,Lido DAO Token,LDO,18
1,0x95aD61b0a150d79219dCF64E1E6Cc01f0B64C4cE,SHIBA INU,SHIB,18
2,0xdAC17F958D2ee523a2206206994597C13D831ec7,Tether USD,USDT,6
3,0x14fF92D8536a21A748C94c936dDe2143428E4D07,TrumpCoin,TrumpCoin,9
4,0x6982508145454Ce325dDbE47a25d4ec3d2311933,Pepe,PEPE,18
5,0x7420B4b9a0110cdC71fB720908340C03F9Bc03EC,JasmyCoin,JASMY,18
6,0x3593D125a4f7849a1B059E64F4517A86Dd60c95d,MANTRA DAO,OM,18
7,0x88909D489678dD17aA6D9609F89B0419Bf78FD9a,Layer3,L3,18
8,0x55296f69f40Ea6d20E478533C15A6B08B654E758,XY Oracle,XYO,18
9,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,USD Coin,USDC,6
10,0x80C62FE4487E1351b47Ba49809EBD60ED085bf52,Clover,CLV,18
11,0xA0b73E1Ff0B80914AB6fe0444E65848C4C34450b,CRO,CRO,8
12,0x8457CA5040ad67fdebbCC8EdCE889A335Bc0fbFB,AltLayer Token,ALT,18
13,0x92CC36D66e9d739D50673d1f27929a371FB83a67,Wagmi,WAGMI,18